/* 仅在打包 App 时生效的原生化 CSS */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}
